@{
    ViewData["Title"] = "Detail Bank";
    Layout = "~/Views/Shared/_TopNavbarMasterData.cshtml";
}

@using NoiSys.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using NoiSys.Areas.MasterData.Models;
@using NoiSys.Areas.MasterData.ViewModels;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model DetailBankViewModel

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-red">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="Bank" asp-action="DetailBank" method="post" class="form-horizontal">
                <div class="card-body">
                    <input hidden asp-for="BankId" />
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="KodeBank">Kode Bank (*)</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="KodeBank" class="form-control form-control-border border-width-2" id="kodeBank" placeholder="Kode Bank" readonly disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="NamaBank">Nama Bank *</label>
                        <div class="col-sm-9">
                            <input maxlength="100" type="text" asp-for="NamaBank" class="form-control form-control-border border-width-2" id="namaBank" placeholder="Nama Bank" disabled>
                        </div>
                    </div>                    
                </div>
                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary bg-red float-left fw-bold" id="btnsimpan"><div style="color:#ffffff">Simpan</div></button>&nbsp;
                        <a class="btn btn-info" id="btnubah">Ubah</a>
                        <a class="btn btn-info" id="btnbatalubah">Batal Ubah</a>
                        <a class="btn btn-danger" asp-action="DeleteBank" asp-controller="Bank" asp-area="MasterData" asp-route-id="@Model.BankId" id="btnhapus">Hapus</a>
                        <a class="btn btn-default" asp-action="Index" asp-controller="Bank" asp-area="MasterData" id="btnbatal">Batal</a>
                    </div>
                </div>
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>

                    <script>
                        $(function () {
                            $("#btnsimpan").hide();
                            $("#btnbatalubah").hide();

                            $("#btnubah").click(function () {
                                $("#btnubah").hide();
                                $("#btnhapus").hide();
                                $("#btnbatal").hide();
                                $("#btnsimpan").show();
                                $("#btnbatalubah").show();

                                document.getElementById("kodeBank").disabled = false;
                                document.getElementById("namaBank").disabled = false;
                            })

                            $("#btnbatalubah").click(function () {
                                $("#btnubah").show();
                                $("#btnhapus").show();
                                $("#btnbatal").show();
                                $("#btnsimpan").hide();
                                $("#btnbatalubah").hide();

                                document.getElementById("kodeBank").disabled = true;
                                document.getElementById("namaBank").disabled = true;
                            })
                        })
                    </script>
                }
            </form>
        </div>
        @if (TempData["WarningMessage"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    swal("Gagal Simpan", '@TempData["WarningMessage"]', "warning");
                };
            </script>
        }
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->